@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }

.btn { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; padding: 4px 14px; margin-bottom: 0; text-align: center; vertical-align: middle; cursor: pointer; color: #333333; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-color: whitesmoke; background-image: -moz-linear-gradient(top, white, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, white, #e6e6e6); background-image: -o-linear-gradient(top, white, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0); border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #e6e6e6; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); border: 1px solid #bbbbbb; *border: 0; border-bottom-color: #a2a2a2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; *margin-left: .3em; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: #333333; background-color: #e6e6e6; *background-color: #d9d9d9; }
.btn:active, .btn.active { background-color: #cccccc \9; }
.btn:first-child { *margin-left: 0; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; *background-color: #d9d9d9; /* Buttons in IE7 don't get borders, so darken on hover */ background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn.active, .btn:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn.disabled, .btn[disabled] { cursor: default; background-color: #e6e6e6; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.btn-large { padding: 9px 14px; font-size: 18px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.btn-large [class^="icon-"] { margin-top: 2px; }

.btn-small { padding: 3px 9px; font-size: 14px; line-height: -0.6px; }

.btn-small [class^="icon-"] { margin-top: 0; }

.btn-mini { padding: 2px 6px; font-size: 13px; line-height: -2.6px; }

.btn-block { display: block; width: 100%; padding-left: 0; padding-right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.btn-block + .btn-block { margin-top: 5px; }

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color: rgba(255, 255, 255, 0.75); }

.btn { border-color: #c5c5c5; border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }

.btn-primary { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #049fdb; background-image: -moz-linear-gradient(top, #04aedb, #048adb); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04aedb), to(#048adb)); background-image: -webkit-linear-gradient(top, #04aedb, #048adb); background-image: -o-linear-gradient(top, #04aedb, #048adb); background-image: linear-gradient(to bottom, #04aedb, #048adb); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF04AEDB', endColorstr='#FF048ADB', GradientType=0); border-color: #048adb #048adb #035b90; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #048adb; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { color: white; background-color: #048adb; *background-color: #047ac2; }
.btn-primary:active, .btn-primary.active { background-color: #036ba9 \9; }

.btn-warning { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #f9a732; background-image: -moz-linear-gradient(top, #fbb450, #f89406); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)); background-image: -webkit-linear-gradient(top, #fbb450, #f89406); background-image: -o-linear-gradient(top, #fbb450, #f89406); background-image: linear-gradient(to bottom, #fbb450, #f89406); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0); border-color: #f89406 #f89406 #ad6704; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #f89406; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] { color: white; background-color: #f89406; *background-color: #df8505; }
.btn-warning:active, .btn-warning.active { background-color: #c67605 \9; }

.btn-danger { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #da4e49; background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image: -o-linear-gradient(top, #ee5f5b, #bd362f); background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0); border-color: #bd362f #bd362f #802420; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #bd362f; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: white; background-color: #bd362f; *background-color: #a9302a; }
.btn-danger:active, .btn-danger.active { background-color: #942a25 \9; }

.btn-success { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #6ca44e; background-image: -moz-linear-gradient(top, #7fa64d, #51a351); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7fa64d), to(#51a351)); background-image: -webkit-linear-gradient(top, #7fa64d, #51a351); background-image: -o-linear-gradient(top, #7fa64d, #51a351); background-image: linear-gradient(to bottom, #7fa64d, #51a351); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7FA64D', endColorstr='#FF51A351', GradientType=0); border-color: #51a351 #51a351 #387038; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #51a351; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { color: white; background-color: #51a351; *background-color: #499249; }
.btn-success:active, .btn-success.active { background-color: #408140 \9; }

.btn-info { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #49afcd; background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4)); background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4); background-image: -o-linear-gradient(top, #5bc0de, #2f96b4); background-image: linear-gradient(to bottom, #5bc0de, #2f96b4); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2F96B4', GradientType=0); border-color: #2f96b4 #2f96b4 #1f6377; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #2f96b4; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { color: white; background-color: #2f96b4; *background-color: #2a85a0; }
.btn-info:active, .btn-info.active { background-color: #24748c \9; }

.btn-inverse { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #363636; background-image: -moz-linear-gradient(top, #444444, #222222); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222)); background-image: -webkit-linear-gradient(top, #444444, #222222); background-image: -o-linear-gradient(top, #444444, #222222); background-image: linear-gradient(to bottom, #444444, #222222); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF444444', endColorstr='#FF222222', GradientType=0); border-color: #222222 #222222 black; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #222222; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { color: white; background-color: #222222; *background-color: #151515; }
.btn-inverse:active, .btn-inverse.active { background-color: #090909 \9; }

.btn.facebook { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #355089; background-image: -moz-linear-gradient(top, #3b5998, #2d4373); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#2d4373)); background-image: -webkit-linear-gradient(top, #3b5998, #2d4373); background-image: -o-linear-gradient(top, #3b5998, #2d4373); background-image: linear-gradient(to bottom, #3b5998, #2d4373); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3B5998', endColorstr='#FF2D4373', GradientType=0); border-color: #2d4373 #2d4373 #17233c; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #2d4373; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
.btn.facebook:hover, .btn.facebook:active, .btn.facebook.active, .btn.facebook.disabled, .btn.facebook[disabled] { color: white; background-color: #2d4373; *background-color: #263961; }
.btn.facebook:active, .btn.facebook.active { background-color: #1e2e4f \9; }

.btn.twitter { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #407fff; background-image: -moz-linear-gradient(top, #4099ff, #4059ff); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4099ff), to(#4059ff)); background-image: -webkit-linear-gradient(top, #4099ff, #4059ff); background-image: -o-linear-gradient(top, #4099ff, #4059ff); background-image: linear-gradient(to bottom, #4099ff, #4059ff); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4099FF', endColorstr='#FF4059FF', GradientType=0); border-color: #4059ff #4059ff #0020f3; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); *background-color: #4059ff; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
.btn.twitter:hover, .btn.twitter:active, .btn.twitter.active, .btn.twitter.disabled, .btn.twitter[disabled] { color: white; background-color: #4059ff; *background-color: #2643ff; }
.btn.twitter:active, .btn.twitter.active { background-color: #0d2dff \9; }

button.btn, input[type="submit"].btn { *padding-top: 3px; *padding-bottom: 3px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner { padding: 0; border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button.btn.btn-small, input[type="submit"].btn.btn-small { *padding-top: 3px; *padding-bottom: 3px; }
button.btn.btn-mini, input[type="submit"].btn.btn-mini { *padding-top: 1px; *padding-bottom: 1px; }

.btn-link, .btn-link:active { background-color: transparent; background-image: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.btn-link { border-color: transparent; cursor: pointer; color: #049cdb; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.btn-link:hover { color: #036690; text-decoration: underline; background-color: transparent; }

.btn-group { position: relative; font-size: 0; white-space: nowrap; *margin-left: .3em; }
.btn-group:first-child { *margin-left: 0; }

.btn-group + .btn-group { margin-left: 5px; }

.btn-toolbar { font-size: 0; margin-top: 0.7; margin-bottom: 0.7; }
.btn-toolbar .btn-group { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; }
.btn-toolbar .btn + .btn, .btn-toolbar .btn-group + .btn, .btn-toolbar .btn + .btn-group { margin-left: 5px; }

.btn-group > .btn { position: relative; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.btn-group > .btn + .btn { margin-left: -1px; }

.btn-group > .btn, .btn-group > .dropdown-menu { font-size: 16px; }

.btn-group > .btn-mini { font-size: 11px; }

.btn-group > .btn-small { font-size: 12px; }

.btn-group > .btn-large { font-size: 16px; }

.btn-group > .btn:first-child { margin-left: 0; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-left-radius: 4px; }

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle { -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; border-bottom-right-radius: 4px; }

.btn-group > .btn.large:first-child { margin-left: 0; -webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px; }

.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle { -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px; }

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index: 2; }

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0; }

.btn-group > .btn + .dropdown-toggle { padding-left: 8px; padding-right: 8px; -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); *padding-top: 5px; *padding-bottom: 5px; }

.btn-group > .btn-mini + .dropdown-toggle { padding-left: 5px; padding-right: 5px; *padding-top: 2px; *padding-bottom: 2px; }

.btn-group > .btn-small + .dropdown-toggle { *padding-top: 5px; *padding-bottom: 4px; }

.btn-group > .btn-large + .dropdown-toggle { padding-left: 12px; padding-right: 12px; *padding-top: 7px; *padding-bottom: 7px; }

.btn-group.open .dropdown-toggle { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn-group.open .btn.dropdown-toggle { background-color: #e6e6e6; }
.btn-group.open .btn-primary.dropdown-toggle { background-color: #048adb; }
.btn-group.open .btn-warning.dropdown-toggle { background-color: #f89406; }
.btn-group.open .btn-danger.dropdown-toggle { background-color: #bd362f; }
.btn-group.open .btn-success.dropdown-toggle { background-color: #51a351; }
.btn-group.open .btn-info.dropdown-toggle { background-color: #2f96b4; }
.btn-group.open .btn-inverse.dropdown-toggle { background-color: #222222; }

.btn .caret { margin-top: 8px; margin-left: 0; }

.btn-mini .caret, .btn-small .caret, .btn-large .caret { margin-top: 6px; }

.btn-large .caret { border-left-width: 5px; border-right-width: 5px; border-top-width: 5px; }

.dropup .btn-large .caret { border-bottom: 5px solid black; border-top: 0; }

.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret { border-top-color: white; border-bottom-color: white; }

.btn-group-vertical { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; }

.btn-group-vertical .btn { display: block; float: none; width: 100%; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.btn-group-vertical .btn + .btn { margin-left: 0; margin-top: -1px; }

.btn-group-vertical .btn:first-child { -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }

.btn-group-vertical .btn:last-child { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

.btn-group-vertical .btn-large:first-child { -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; }

.btn-group-vertical .btn-large:last-child { -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@media only screen and (max-width: 640px) { .hide-mobile { display: none !important; } }

@media only screen and (min-width: 641px) { .hide-desktop { display: none !important; } }

@media only screen and (min-width: 641px) and (max-width: 1199px) { .hide-tablet { display: none !important; } }

@media only screen and (min-width: 641px) { .show-mobile { display: none !important; } }

.show-tablet { display: none; }
@media only screen and (min-width: 641px) and (max-width: 1199px) { .show-tablet { display: inherit !important; } }

.show-desktop { display: none; }
@media only screen and (min-width: 1200px) { .show-desktop { display: inherit !important; } }

.show-huge { display: none; }
@media only screen and (min-width: 1280px) { .show-huge { display: inherit !important; } }

@media only screen and (min-width: 641px) and (max-width: 1199px) { .hide-medium { display: none !important; } }

.touch .hide-touch { display: none; }

.show-touch { display: none; }
.touch .show-touch { display: inherit; }

.span1of2 { float: left; margin-left: 2%; }
.span1of2:first-child { margin-left: 0; }

.span1of2 { width: 49%; }

.fltlt { float: left; }

.fltrt { float: right; }

.noflt { float: none; }

.clear { clear: both; }

.clrlt { clear: left; }

.clrrt { clear: right; }

.noclr { clear: none; }

.group { zoom: 1; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }

@font-face { font-family: 'Riot-Studios'; src: url("../fonts/Riot-Studios.eot?-lpjqae"); src: url("../fonts/Riot-Studios.eot?#iefix-lpjqae") format("embedded-opentype"), url("../fonts/Riot-Studios.woff?-lpjqae") format("woff"), url("../fonts/Riot-Studios.ttf?-lpjqae") format("truetype"), url("../fonts/Riot-Studios.svg?-lpjqae#Riot-Studios") format("svg"); font-weight: normal; font-style: normal; }

[class^="ifont"], [class*=" ifont"] { font-family: 'Riot-Studios'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.ifontmenu:before { content: "\6c"; }

.ifontmovie:before { content: "\61"; }

.ifontimage:before { content: "\70"; }

.ifontfacebook:before { content: "\66"; }

.ifonttwitter:before { content: "\74"; }

.ifontcrosshair:before { content: "\63"; }

.ifontfilm:before { content: "\64"; }

.ifontblog:before { content: "\62"; }

.ifontinfo:before { content: "\69"; }

.ifontplay:before { content: "\76"; }

.ifontriot-logo:before { content: "\72"; }

.ifontcart:before { content: "\73"; }

.ifontmedia:before { content: "\6d"; }

.ifonteye:before { content: "\65"; }

.ifontmail:before { content: "\45"; }

.ifontplay-2:before { content: "\3e"; }

.ifontvolume-low:before { content: "\7b"; }

.ifontpause:before { content: "\7c"; }

.ifontvolumevolume-medium:before { content: "\7d"; }

.ifontexpand:before { content: "\22"; }

.ifontcd:before { content: "\6f"; }

.ifontvolume-mute:before { content: "\21"; }

.ifonthome:before { content: "\68"; }

.ifontarrow-right:before { content: "\23"; }

.ifontarrow-left:before { content: "\24"; }

.ifontbubble:before { content: "\25"; }

.ifontuser:before { content: "\26"; }

.ifontusers:before { content: "\67"; }

.ifontcheckmark:before { content: "\27"; }

.ifontdisk:before { content: "\28"; }

.ifontstar:before { content: "\29"; }

.ifontattachment:before { content: "\2a"; }

.ifontreply:before { content: "\2b"; }

.ifontloop:before { content: "\2d"; }

.ifontrioters-logo:before { content: "\2c"; }

.ifontinstagram:before { content: "\e600"; }

.ifont { font-family: 'Riot-Studios'; -webkit-font-smoothing: antialiased; }

form { margin: 0 0 1.4; }

fieldset { padding: 0; margin: 0; border: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: 1.4; font-size: 24px; line-height: 2.8; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }
legend small { font-size: 1.05; color: #999999; }

label, input, button, select, textarea { font-size: 16px; font-weight: normal; line-height: 1.4; }

input, button, select, textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

label { display: block; margin-bottom: 5px; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 1.4; padding: 4px 6px; margin-bottom: 9px; font-size: 16px; line-height: 1.4; color: #555555; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

input, textarea { width: 210px; }

textarea { height: auto; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: white; border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; /* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; *margin-top: 0; /* IE7 */ margin-top: 1px \9; /* IE8-9 */ line-height: normal; cursor: pointer; }

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }

select, input[type="file"] { height: 30px; /* In IE7, the height of the select element cannot be changed by height, only font-size */ *margin-top: 4px; /* For IE7, add top margin to align select with labels */ line-height: 30px; }

select { width: 220px; border: 1px solid #bbb; background-color: white; }

select[multiple], select[size] { height: auto; }

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

.uneditable-input, .uneditable-textarea { color: #999999; background-color: #fcfcfc; border-color: #cccccc; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); cursor: not-allowed; }

.uneditable-input { overflow: hidden; white-space: nowrap; }

.uneditable-textarea { width: auto; height: auto; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999999; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999999; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

.radio, .checkbox { min-height: 18px; padding-left: 18px; }

.radio input[type="radio"], .checkbox input[type="checkbox"] { float: left; margin-left: -18px; }

.controls > .radio:first-child, .controls > .checkbox:first-child { padding-top: 5px; }

.radio.inline, .checkbox.inline { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; }

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin-left: 10px; }

.input-mini { width: 60px; }

.input-small { width: 90px; }

.input-medium { width: 150px; }

.input-large { width: 210px; }

.input-xlarge { width: 270px; }

.input-xxlarge { width: 530px; }

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] { float: none; margin-left: 0; }

.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] { display: inline-block; }

input, textarea, .uneditable-input { margin-left: 0; }

.controls-row [class*="span"] + [class*="span"] { margin-left: 20px; }

input.span1, textarea.span1, .uneditable-input.span1 { width: 60px; }

input.span2, textarea.span2, .uneditable-input.span2 { width: 140px; }

input.span3, textarea.span3, .uneditable-input.span3 { width: 220px; }

input.span4, textarea.span4, .uneditable-input.span4 { width: 300px; }

input.span5, textarea.span5, .uneditable-input.span5 { width: 380px; }

input.span6, textarea.span6, .uneditable-input.span6 { width: 460px; }

input.span7, textarea.span7, .uneditable-input.span7 { width: 540px; }

input.span8, textarea.span8, .uneditable-input.span8 { width: 620px; }

input.span9, textarea.span9, .uneditable-input.span9 { width: 700px; }

input.span10, textarea.span10, .uneditable-input.span10 { width: 780px; }

input.span11, textarea.span11, .uneditable-input.span11 { width: 860px; }

input.span12, textarea.span12, .uneditable-input.span12 { width: 940px; }

.controls-row { overflow: hidden; *zoom: 1; }

.controls-row [class*="span"] { float: left; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { cursor: not-allowed; background-color: #eeeeee; }

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color: transparent; }

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline { color: #c09853; }
.control-group.warning .checkbox, .control-group.warning .radio, .control-group.warning input, .control-group.warning select, .control-group.warning textarea { color: #c09853; border-color: #c09853; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.control-group.warning .checkbox:focus, .control-group.warning .radio:focus, .control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus { border-color: #a47e3c; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on { color: #c09853; background-color: #fcf8e3; border-color: #c09853; }

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline { color: #b94a48; }
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea { color: #b94a48; border-color: #b94a48; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.control-group.error .checkbox:focus, .control-group.error .radio:focus, .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus { border-color: #953b39; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on { color: #b94a48; background-color: #f2dede; border-color: #b94a48; }

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline { color: #468847; }
.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea { color: #468847; border-color: #468847; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.control-group.success .checkbox:focus, .control-group.success .radio:focus, .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus { border-color: #356635; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; }
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on { color: #468847; background-color: #dff0d8; border-color: #468847; }

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: #b94a48; border-color: #ee5f5b; }
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: #e9322d; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7; box-shadow: 0 0 6px #f8b9b7; }

.form-actions { padding: 0.4 20px 1.4; margin-top: 1.4; margin-bottom: 1.4; background-color: whitesmoke; border-top: 1px solid #e5e5e5; overflow: hidden; *zoom: 1; }

.help-block, .help-inline { color: #595959; }

.help-block { display: block; margin-bottom: 0.7; }

.help-inline { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; vertical-align: middle; padding-left: 5px; }

.input-append, .input-prepend { margin-bottom: 5px; font-size: 0; white-space: nowrap; }
.input-append input, .input-append select, .input-append .uneditable-input, .input-prepend input, .input-prepend select, .input-prepend .uneditable-input { position: relative; margin-bottom: 0; *margin-left: 0; font-size: 16px; vertical-align: top; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
.input-append input:focus, .input-append select:focus, .input-append .uneditable-input:focus, .input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus { z-index: 2; }
.input-append .add-on, .input-prepend .add-on { display: inline-block; width: auto; height: 1.4; min-width: 16px; padding: 4px 5px; font-size: 16px; font-weight: normal; line-height: 1.4; text-align: center; text-shadow: 0 1px 0 white; background-color: #eeeeee; border: 1px solid #ccc; }
.input-append .add-on, .input-append .btn, .input-prepend .add-on, .input-prepend .btn { margin-left: -1px; vertical-align: top; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.input-append .active, .input-prepend .active { background-color: #a9dba9; border-color: #46a546; }

.input-prepend .add-on, .input-prepend .btn { margin-right: -1px; }
.input-prepend .add-on:first-child, .input-prepend .btn:first-child { -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }

.input-append input, .input-append select, .input-append .uneditable-input { -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
.input-append .add-on:last-child, .input-append .btn:last-child { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child { margin-right: -1px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child { margin-left: -1px; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

input.search-query { padding-right: 14px; padding-right: 4px \9; padding-left: 14px; padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */ margin-bottom: 0; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; }

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query, .form-search .input-prepend .search-query { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.form-search .input-append .search-query { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; -ms-border-radius: 14px 0 0 14px; -o-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; }

.form-search .input-append .btn { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; -ms-border-radius: 0 14px 14px 0; -o-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; }

.form-search .input-prepend .search-query { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; -ms-border-radius: 0 14px 14px 0; -o-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; }

.form-search .input-prepend .btn { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; -ms-border-radius: 14px 0 0 14px; -o-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; }

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; margin-bottom: 0; vertical-align: middle; }
.form-search .hide, .form-inline .hide, .form-horizontal .hide { display: none; }

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group { display: inline-block; }

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend { margin-bottom: 0; }

.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox { padding-left: 0; margin-bottom: 0; vertical-align: middle; }

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { float: left; margin-right: 3px; margin-left: 0; }

.control-group { margin-bottom: 0.7; }

legend + .control-group { margin-top: 1.4; -webkit-margin-top-collapse: separate; }

.form-horizontal .control-group { margin-bottom: 1.4; overflow: hidden; *zoom: 1; }
.form-horizontal .control-label { float: left; width: 140px; padding-top: 5px; text-align: right; }
.form-horizontal .controls { *display: inline-block; *padding-left: 20px; margin-left: 160px; *margin-left: 0; }
.form-horizontal .controls:first-child { *padding-left: 160px; }
.form-horizontal .help-block { margin-top: 0.7; margin-bottom: 0; }
.form-horizontal .form-actions { padding-left: 160px; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { overflow-x: hidden; }

body { background: #16242e; background-image: url("../../img/bm-background.jpg"); background-repeat: no-repeat; background-position: center top; -webkit-background-size: 120% auto; -moz-background-size: 120% auto; -o-background-size: 120% auto; background-size: 120% auto; font-size: 16px; font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; color: white; overflow-x: hidden; letter-spacing: 1px; }
@media only screen and (min-width: 641px) { body { background-image: url("../../img/bm-background.jpg"); } }
@media only screen and (min-width: 641px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 641px) and (-moz-min-device-pixel-ratio: 1.5) { body { background-image: url("../../img/bm-background@2x.jpg"); background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; } }

a { color: white; text-decoration: none; }
a:hover { opacity: 0.7; }

.btn, input { font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; }

.global-width { width: 310px; margin: 0 auto; }
@media only screen and (min-width: 641px) and (max-width: 1199px) { .global-width { width: 620px; } }
@media only screen and (min-width: 1200px) { .global-width { width: 980px; } }

.believe-me-header { position: relative; padding-top: 48px; }
.believe-me-header h1, .believe-me-header h2 { display: block; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; background-repeat: no-repeat; background-color: transparent; text-indent: -2000px; overflow: hidden; background-position: center; }
.believe-me-header h1 { width: 310px; height: 103.33333px; background-image: url("../../img/bm-title-block.png"); margin: 0 auto; margin-top: 0; }
.believe-me-header h2 { position: absolute; top: 0; left: 50%; margin-left: -103.23px; background-image: url("../../img/bm-tagline.png"); width: 206.46px; height: 40px; margin-top: 12px; }
.believe-me-header h2:after { content: ""; display: block; width: 75%; border-bottom: 1px solid white; height: 1px; position: absolute; bottom: 0; left: 12.5%; }
@media only screen and (min-width: 641px) { .believe-me-header { padding-top: 60px; }
  .believe-me-header h1 { background-image: url("../../img/bm-title-block.png"); width: 620px; height: 206.66667px; }
  .believe-me-header h2 { background-image: url("../../img/bm-tagline.png"); margin-left: -206.46px; width: 412.92px; margin-top: 20px; height: 54px; } }
@media only screen and (min-width: 641px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 641px) and (-moz-min-device-pixel-ratio: 1.5) { .believe-me-header h1 { background-image: url("../../img/bm-title-block@2x.png"); background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; } }
@media only screen and (min-width: 641px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 641px) and (-moz-min-device-pixel-ratio: 1.5) { .believe-me-header h2 { background-image: url("../../img/bm-tagline@2x.png"); background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; } }
@media only screen and (min-width: 1200px) { .believe-me-header { padding-top: 120px; }
  .believe-me-header h1 { width: 980px; height: 326.66667px; }
  .believe-me-header h2 { margin-left: -326.34px; width: 652.68px; height: 80px; margin-top: 64px; } }

.bm-form-container { width: 90%; margin: 0 auto; }
.bm-form-container input, .bm-form-container .btn { font-size: 20px; padding: 12px; border: none 0; border: 2px solid white; text-transform: uppercase; letter-spacing: 1px; }
.bm-form-container input { width: 57%; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; background: rgba(255, 255, 255, 0.5); border-right: none 0; }
.bm-form-container input:focus { border: 2px solid white; -webkit-box-shadow: 0 0 3px rgba(223, 165, 74, 0.9); -moz-box-shadow: 0 0 3px rgba(223, 165, 74, 0.9); box-shadow: 0 0 3px rgba(223, 165, 74, 0.9); background: rgba(255, 255, 255, 0.8); }
.bm-form-container .btn { width: 43%; background: #dfa54a url("../../img/bm-button-background.jpg") repeat center; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }
.bm-form-container .btn.btn-warning .during { display: inline; }
.bm-form-container .btn.btn-warning .after, .bm-form-container .btn.btn-warning .before { display: none; }
.bm-form-container .btn.sent .after { display: inline; }
.bm-form-container .btn.sent .during, .bm-form-container .btn.sent .before { display: none; }
.bm-form-container .btn .during, .bm-form-container .btn .after { display: none; }
.bm-form-container ::-webkit-input-placeholder { color: #555959; }
.bm-form-container :-moz-placeholder { /* Firefox 18- */ color: #555959; }
.bm-form-container ::-moz-placeholder { /* Firefox 19+ */ color: #555959; }
.bm-form-container :-ms-input-placeholder { color: #555959; }
@media only screen and (min-width: 641px) { .bm-form-container { width: 68%; } }
@media only screen and (min-width: 1200px) { .bm-form-container { width: 68%; }
  .bm-form-container input, .bm-form-container .btn { font-size: 28px; padding: 16px; border: 3px solid white; }
  .bm-form-container input:focus { border: 3px solid white; -webkit-box-shadow: 0 0 5px rgba(223, 165, 74, 0.9); -moz-box-shadow: 0 0 5px rgba(223, 165, 74, 0.9); box-shadow: 0 0 5px rgba(223, 165, 74, 0.9); }
  .bm-form-container .btn { text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5); }
  .bm-form-container .btn .during, .bm-form-container .btn .after { display: none; } }

.legal-container { text-align: center; text-transform: uppercase; }
.legal-container h2 { font-size: 28px; padding: 28px 0; }
.legal-container .menus { padding-bottom: 28px; border-bottom: 1px solid white; margin-bottom: 28px; }
.legal-container ul a { padding: 8px; display: inline-block; }
.legal-container ul a.imdb span { position: relative; top: 4px; }
.legal-container .social-menu li { display: inline-block; }
.legal-container .credits { width: 100%; overflow: hidden; background: transparent url("../../img/bm-credits.png") no-repeat center top; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; height: 200px; }
.legal-container .credits p { position: relative; left: -2000px; display: block; }
@media only screen and (min-width: 641px) { .legal-container .credits { background-image: url("../../img/bm-credits.png"); height: 300px; } }
@media only screen and (min-width: 641px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 641px) and (-moz-min-device-pixel-ratio: 1.5) { .legal-container .credits { background-image: url("../../img/bm-credits@2x.png"); background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; } }
@media only screen and (min-width: 1200px) { .legal-container h2 { font-size: 32px; padding: 50px 0 40px; }
  .legal-container ul { display: inline-block; }
  .legal-container ul li { display: inline-block; }
  .legal-container ul a { padding: 0 16px; display: inline-block; }
  .legal-container .menus { padding-bottom: 50px; border-bottom: 1px solid white; width: 70%; margin: 0 auto 50px; }
  .legal-container .credits { height: 500px; -webkit-background-size: 974px auto; -moz-background-size: 974px auto; -o-background-size: 974px auto; background-size: 974px auto; } }

.modal-on { overflow: hidden; }

#bm-modal { display: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.4s ease-out; -moz-transition: opacity 0.4s ease-out; -o-transition: opacity 0.4s ease-out; transition: opacity 0.4s ease-out; position: absolute; top: 0; bottom: 0; left: 0; right: 0; position: fixed; z-index: 300; font-family: 'Open Sans', 'Helvetica', Arial, sans-serif; font-size: 300; color: #333333; }
#bm-modal a { color: #333333; }
#bm-modal .bg { background: rgba(0, 0, 0, 0.5); position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 200; }
#bm-modal .close-btn { padding: 8px; font-size: 24px; position: absolute; top: 1em; right: 1em; }
#bm-modal .close-btn:hover { color: #16242e; }
#bm-modal .modal-outer { position: absolute; left: 50%; padding: 2em; background: #e8e7e9; z-index: 300; -webkit-box-shadow: 0 1px 8px black; -moz-box-shadow: 0 1px 8px black; box-shadow: 0 1px 8px black; position: absolute; width: 300px; margin-left: -150px; top: 60px; max-height: 90%; overflow-x: hidden; overflow-y: auto; }
#bm-modal .modal-inner h2 { color: #16242e; font-size: 24px; line-height: 1.5; text-shadow: 0 1px 0 white; }
#bm-modal .modal-inner h3 { font-style: italic; font-size: 12px; color: #555959; }
#bm-modal .modal-inner a { color: #16242e; text-decoration: underline; }
#bm-modal .modal-inner p { text-align: center; margin-bottom: 1.5em; font-size: 12px; line-height: 1.5; }
#bm-modal .modal-inner .btn { color: white; text-decoration: none; width: 100%; text-align: left; position: relative; font-family: 'Open Sans', 'Helvetica', Arial, sans-serif; font-size: 12px; }
#bm-modal .modal-inner .btn .ifontarrow-right { margin-left: 3px; position: absolute; top: 0; right: 0; padding: 12px 14px; border-left: 1px solid rgba(0, 0, 0, 0.2); -webkit-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.2); -moz-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.2); box-shadow: -1px 0 1px rgba(255, 255, 255, 0.2); }
#bm-modal.show { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
@media only screen and (min-width: 641px) { #bm-modal .modal-outer { width: 450px; margin-left: -225px; top: 100px; }
  #bm-modal .modal-inner h2 { font-size: 32px; }
  #bm-modal .modal-inner h3 { font-size: 16px; }
  #bm-modal .modal-inner .btn { font-size: 16px; } }

#bm-modal .modal-inner .arrow { position: relative; top: 8px; }
#bm-modal .modal-inner .social-section { padding: 1.5em 0; border-bottom: 1px dashed #3d99aa; }
#bm-modal .modal-inner .social-section .twitter-share-button { margin-bottom: 0.5em; }
#bm-modal .modal-inner .last-section { border-top: 1px dashed white; padding-top: 1.5em; }
.modal-on #bm-modal { display: block; }
#bm-modal.show { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
@media only screen and (min-width: 641px) { #bm-modal .modal-outer { width: 450px; margin-left: -225px; top: 100px; }
  #bm-modal .modal-inner h2 { font-size: 32px; }
  #bm-modal .modal-inner h3 { font-size: 16px; }
  #bm-modal .modal-inner .btn { font-size: 16px; } }

.hidden { display: none !important; }
