//screen-sizing
$break-small: 640px;
$break-large: 1024px;
$break-huge: 1280px;

//colors
$dark-text: #433c32;
$darker-text: #292520;
$red: #7e3737;
$wood-color: #e9bf80;
$offWhite: #f0f2f4;
$facebook: #3B5998;
$twitter: #4099FF;
$youtube: #aa2a25;
$yellow: #cd8c0b;


//misc
$mobile-headfoot-height: 10px;
$mobile-nav-height: 50px;
$headfoot-height: 10px;
$desktop-footer-height:32px;

$desktop-left-width: 240px;
$socializer-width:270px;

$nav-button-spread:58px;