//icons
i {
	display:inline-block;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	&.eye {
		background-image:url('../img/eye-icon-white.png');
		width:45px;
		height:26px;
		&.small {
			width:22px;
			height:13px;
			background-image:url('../img/eye-icon-white-small.png');
		}
	}
	&.white-circle-x {
		background:rgba(255,255,255,0.3);
		width:18px;
		height:18px;
		@include border-radius(50%);
		line-height:20px;
		text-align:center;
	}
}